.form {
  width: 800px;
  height: 600px;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ECB22F;
  padding: 60px;
  h2 {
    color: #E01E5A;
  }

}

.description-card {
  color: white
}

.btn-primary {
  margin-top: 40px;
  margin-bottom: 60px;
}
