.navbar-cocktail {
  justify-content: space-between;
  background-image: url('prism.png');
  height: 100px;
}

.navbar-cocktail .navbar-collapse {
  flex-grow: 0;
}

.navbar-cocktail .navbar-brand img {
  width: 70px;
  margin-left: 40px;
}
